{% extends 'GBPBacardiBundle::layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets 'bundles/gbpbacardi/css/wardrobe.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="b-wrapper" id="js-b-wrapper" style="background-image: url(/bundles/gbpbacardi/img/wardrobe_{{ is_female ? 'f' : 'm' }}_page_block_bg.png?4);">
        <div class="b-wardrobe b-block" id="js-b-wardrobe">
            {{ form_start(form, {'attr': {'id': 'js-b-wardrobe__form'}}) }}
                {{ form_widget(form.resultPhoto, {'id': 'js-img-input'}) }}
                <div class="b-wardrobe__popup" id="js-b-wardrobe__popup">
                    <div class="b-wardrobe__popup__title" id="js-b-wardrobe__popup__title"></div>
                    <div class="b-wardrobe__popup__container__wrapper" id="js-b-wardrobe__popup__container__wrapper">
                        <div class="b-wardrobe__popup__container" id="js-b-wardrobe__popup__container">
                            <!-- ITEMS -->
                        </div>
                    </div>
                    <div class="b-wardrobe__popup__track" id="js-b-wardrobe__popup__track">
                        <div class="b-wardrobe__popup__bar" id="js-b-wardrobe__popup__bar"></div>
                    </div>
                </div>

                <div class="b-wardrobe__ready" id="js-b-wardrobe__ready"></div>

                <div class="b-wardrobe__photo" id="js-b-wardrobe__photo">
                    <img id="js-b-wardrobe__photo__face" class="{{ is_female ? 'woman' : 'man' }}" src="{{ photodata }}"
                         style="display: block; width: 60px; z-index: 20; {{ is_female ? 'top: 64px; left: 111px;' : 'top: 64px; left: 111px;' }}">
	                {% if is_female %}
		                <img src="/bundles/gbpbacardi/img/woman_mask2.png?3" style="z-index: 30">
	                {% else %}
		                <img src="/bundles/gbpbacardi/img/belt.png" style="z-index: 52;">
		                <img src="/bundles/gbpbacardi/img/man_mask2.png?3" style="z-index: 30">

		                <img src="/upload/items/men_shtani_1.png" style="z-index: 50" data-cat="1">
		                <img src="/upload/items/men_rubashka_1.png" style="z-index: 40" data-cat="0">
		                <img src="/upload/items/Bacardi_fgarderob_men.png" style="z-index: 100" data-cat="6">
	                {% endif %}

                </div>

                <div class="b-wardrobe__block b-wardrobe__outerwear js-b-wardrobe__block">

	                {% if items.outerwear is defined %}
		                {{ include('GBPBacardiBundle:Default:unwear.items.html.twig', {'items' : items.outerwear}) }}
	                {% endif %}

                    <div class="b-wardrobe__block__title js-b-wardrobe__block__title">{{ categories.outerwear.getName() }}</div>
                    <div class="b-wardrobe__items js-b-wardrobe__items">
                        {% if items.outerwear is defined %}
                            {{ include('GBPBacardiBundle:Default:partial.items.html.twig', {'items' : items.outerwear}) }}
                        {% endif %}
                    </div>
                </div>
                <div class="b-wardrobe__block b-wardrobe__shoes js-b-wardrobe__block">
	                {% if items.shoes is defined %}
		                {{ include('GBPBacardiBundle:Default:unwear.items.html.twig', {'items' : items.shoes}) }}
	                {% endif %}
                    <div class="b-wardrobe__block__title js-b-wardrobe__block__title">{{ categories.shoes.getName() }}</div>
                    <div class="b-wardrobe__items js-b-wardrobe__items">
                        {% if items.shoes is defined %}
                            {{ include('GBPBacardiBundle:Default:partial.items.html.twig', {'items' : items.shoes}) }}
                        {% endif %}
                    </div>
                </div>
                <div class="b-wardrobe__block b-wardrobe__accessories js-b-wardrobe__block">

	                {% if items.accessory is defined %}
		                {{ include('GBPBacardiBundle:Default:unwear.items.html.twig', {'items' : items.accessory}) }}
	                {% endif %}

                    <div class="b-wardrobe__block__title js-b-wardrobe__block__title">{{ categories.accessory.getName() }}</div>
                    <div class="b-wardrobe__items js-b-wardrobe__items">
                        {% if items.accessory is defined %}
                            {{ include('GBPBacardiBundle:Default:partial.items.html.twig', {'items' : items.accessory}) }}
                        {% endif %}
                    </div>
                </div>
                <div class="b-wardrobe__block b-wardrobe__necklaces js-b-wardrobe__block">
	                {% if items.necklace is defined %}
		                {{ include('GBPBacardiBundle:Default:unwear.items.html.twig', {'items' : items.necklace}) }}
	                {% endif %}
                    <div class="b-wardrobe__block__title js-b-wardrobe__block__title">{{ categories.necklace.getName() }}</div>
                    <div class="b-wardrobe__items js-b-wardrobe__items">
                        {% if items.necklace is defined %}
                            {{ include('GBPBacardiBundle:Default:partial.items.html.twig', {'items' : items.necklace}) }}
                        {% endif %}
                    </div>
                </div>
                <div class="b-wardrobe__block b-wardrobe__pants js-b-wardrobe__block">
	                {% if items.pants is defined %}
		                {{ include('GBPBacardiBundle:Default:unwear.items.html.twig', {'items' : items.pants}) }}
	                {% endif %}
                    <div class="b-wardrobe__block__title js-b-wardrobe__block__title">{{ categories.pants.getName() }}</div>
                    <div class="b-wardrobe__items js-b-wardrobe__items">
                        {% if items.pants is defined %}
                            {{ include('GBPBacardiBundle:Default:partial.items.html.twig', {'items' : items.pants}) }}
                        {% endif %}
                    </div>
                </div>
                <div class="b-wardrobe__block b-wardrobe__headdress js-b-wardrobe__block">
	                {% if items.headdress is defined %}
		                {{ include('GBPBacardiBundle:Default:unwear.items.html.twig', {'items' : items.headdress}) }}
	                {% endif %}
                    <div class="b-wardrobe__block__title js-b-wardrobe__block__title">{{ categories.headdress.getName() }}</div>
                    <div class="b-wardrobe__items js-b-wardrobe__items">
                        {% if items.headdress is defined %}
                            {{ include('GBPBacardiBundle:Default:partial.items.html.twig', {'items' : items.headdress}) }}
                        {% endif %}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% javascripts output='js/compiled/libs.js'
        '@GBPBacardiBundle/Resources/public/js/libs/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@GBPBacardiBundle/Resources/public/js/wardrobe/*' output='js/compiled/wardrobe.js' debug=true %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}